<div class="side-nav rounded-3">
  <ul class="nav-links">
    <li><a routerLink="/object-info/{{buildingId}}"><i class="bi bi-info-circle"></i> {{basicInformation}}</a></li>
    <li><a routerLink="/object-plans/{{buildingId}}"><i class="bi bi-map"></i> {{buildingPlan}}</a></li>
    <li><a routerLink="/object-services/{{buildingId}}"><i class="bi bi-gear"></i> {{services}}</a></li>
    <li><a routerLink="/object-devices/{{buildingId}}"><i class="bi bi-camera-video"></i> {{devices}}</a></li>
    <li><a routerLink="/object-persons/{{buildingId}}"><i class="bi bi-people"></i> {{persons}}</a></li>
    <li><a routerLink="/object-video/{{buildingId}}"><i class="bi bi-camera-reels"></i> {{video}}</a></li>
  </ul>
</div>
