<div class="wrapper fadeInDown"  style="position: centre;">
  <div id="formContent">

    <div class="fadeIn first">
      <img class="img-responsive" src="assets/img/logo.png" id="icon" alt="Logo" />
    </div>

    <form [formGroup]="forgotPassForm" (ngSubmit)="onSubmit(forgotPassForm)">
      <input type="text" id="userName" class="fadeIn second" placeholder="login" formControlName="userName">
      <input type="submit" class="fadeIn fourth" value="Resetuj hasło">
    </form>

    <div id="formFooter">
      <a class="underlineHover" routerLink="/sign-in">Powrót do logowania</a>
    </div>

  </div>
</div>
