.form-group{
  margin-top: 10px;
  width: 70%;
}

.thumbnail-image {
  width: 50%;
  height: auto;
  object-fit: cover;
  border: 1px solid #ccc;
}

.disabled {
  pointer-events: none;
  opacity: 0.6;
}
