<div *ngIf="this.buildingData"  class="building-info bg-white shadow-sm">
  <div class="">
    <p>
      <i class="bi bi-info-circle"></i>
      {{this.buildingData.synonym + ', ' + this.buildingData.name + ' ' + this.buildingData.street + ' ' + this.buildingData.number + ', ' +  this.buildingData.zipCode + ' ' +  this.buildingData.city}}
    </p>
  </div>
</div>

<div class="mb-0 bg-white p-4 shadow-sm">
  <div class="formTop d-flex justify-content-between">
    <input type="text" placeholder=" Szukaj..." id="search" #searchInput class="flex-grow-1">
    <button class="search" (click)="search(searchInput.value)">
      <i class="bi bi-search"></i>
    </button>
    <button *ngIf="!roleService.isServiceTechnician()"class="btn btn-primary float-right m-1" routerLink="object-list"><i class="bi bi-house"></i></button>
    <button *ngIf="roleService.isAdmin()" (click)="openModal('add')" class="btn btn-primary float-right m-1">
      <i class="bi bi-plus-circle"></i>
    </button>
  </div>

  <div class="row">
    <div class="pt-1">
      <div class="dashboard-info-box table-responsive mb-0 bg-white p-4">
        <table class="table manage-top mb-0">
          <thead>
            <tr>
              <th style="width: 25%;">Nazwa</th>
              <th style="width: 15%;"class="text-center">Typ</th>
              <th style="width: 15%;"class="text-center">Priorytet</th>
              <th style="width: 20%;"class="text-center">Status</th>
              <th style="width: 15%;"class="text-center">Akcja</th>
            </tr>
          </thead>
          <tbody>
            <tr class="list items-list" *ngFor="let serviceDoc of filteredServices">
              <td class="mb-0 list-item">
                {{serviceDoc.name}}
              </td>
              <td class="text-center mb-0 list-item">
                {{showServiceDocType(serviceDoc.type)}}
              </td>
              <td class="text-center mb-0 list-item">
                {{showServiceDocPriority(serviceDoc.priority)}}
              </td>
              <td class="text-center mb-0 list-item">
                {{showServiceDocState(serviceDoc.state)}}
              </td>
              <td class="text-center">
                <ul class="list-unstyled mb-0 d-flex justify-content-center">
                  <li><a (click)="openModal('view', serviceDoc, serviceDoc.id)" class="text-primary" data-original-title="View" data-bs-toggle="tooltip"><i class="bi bi-eye-fill"></i></a></li>
                  <li><a *ngIf="roleService.isAdmin() || roleService.isServiceTechnician()" (click)="openModal('edit', serviceDoc, serviceDoc.id)" class="text-info" data-original-title="Edit" data-bs-toggle="tooltip"><i class="bi bi-pencil-fill"></i></a></li>
                  <li><a *ngIf="roleService.isAdmin()" (click)="deleteServiceDoc(serviceDoc.id)" class="text-danger" data-bs-toggle="tooltip" title="" data-original-title="Delete"><i class="bi bi-trash3-fill"></i></a></li>
                </ul>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>


<app-object-service-modal #objectServiceModal [modalConfig]="modalConfig">
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="modalClose()">Zamknij</button>
    <button *ngIf="isButtonVisible" type="submit" class="btn btn-primary" >Zapisz</button>
  </div>
</app-object-service-modal>

